:root {
    --color-white1: #c3e1f8;
    --color-blue1: #3b9fef;
    --color-gray1: #2e2f31;
    --color-gray2: #363c45;
    --color-black: #041128;
    --color-active: var(--color-blue1);

    --font-size-tile: 1.5rem;
    --font-size-normal: 1rem;

    --default-radius: 0.5em;
    --default-padding: 2em;

    --border-default: 1px solid var(--color-black);
    --border-active: 1px solid var(--color-active);

    --gradient1: linear-gradient(to bottom, var(--color-gray1), var(--color-gray2));
    --gradient2: linear-gradient(to right, rgba(95, 95, 95, 0.22), rgba(73, 73, 73, 0.22));
    --gradient3: radial-gradient(circle at top center, #3d6080 0%, #101821 80%);
    --gradient4: linear-gradient(to right, #3b9fef, #2562d1);
}
body {
    text-align: center;

    background-image: var(--gradient3);
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;

    height: 100%;
    min-width: 1000px;

    color: var(--color-white1);

    font-family: 'Arial', sans-serif;
}

button {
    background-image: var(--gradient4);

    padding: 0.75em 1em;

    color: var(--color-white1);
    font-size: var(--font-size-normal);

    border-radius: var(--default-radius);
    border: var(--border-default);
}

button:hover {
    border: var(--border-active);
    cursor: pointer;
}


/* Nav Bar */
.navbar {
    width: 100%;
    background-color: var(--color-gray1);
    overflow: auto;
}
.navbar a:link {
    float: left;
    padding: 0.75em;
    text-decoration: none;
    font-size: var(--font-size-normal);
}
.navbar a:hover {
    background-color: var(--color-gray2);
    color: var(--color-active);
}
.navbar a:visited {
    color: inherit;
}

footer {
    position: fixed;
    bottom: 0;

    background-color: var(--color-gray1);

    width: 100%;
    height: 3em;
}

/* Root */
.root {
    display: flex;
    justify-content: center;
}

.appDiv {
    display: flex;
    justify-content: center;

    width: 100%;

    background-size: cover;

}





