

.gameDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2em;
}

/* Back Button */
.backButton {
    font-size: 16px;
    border-radius: 5px;
    padding: 0.75em 1em;

    background-image: linear-gradient(to right, #3b9fef, #2562d1);
    color: #c3e1f8;

    display: inline-block;
    border: 1px solid black;

    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 1em;

}

/* Title Div */
.titleContainer {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    background-image: linear-gradient(to right, rgba(95, 95, 95, 0.22), rgba(73, 73, 73, 0.22));
    border-radius: 0.5em;

}



.titleContainer img {
    border-radius: 0.5em;
}

.titleText {
    flex: 1;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.swapButtons {
    padding: 1em 1em;
}

.swapButtons button {
    font-size: 16px;
    border-radius: 5px;

    background-image: linear-gradient(to right, var(--color-blue3), var(--color-blue4));
    color: var(--color-white1);

    border: 1px solid black;

    width: 20em;

    margin: 0 1em;
}

.swapButtons button:hover {
    cursor: pointer;
}

.swapButtons button:disabled {
    background-image: linear-gradient(to right, #3b9fef, #316cd9);
}


.detailsTable {
    border-collapse: collapse;
    padding: 1em 1em;
    table-layout: fixed;
    width: 80%;
    margin: auto;
}

.detailsTable td {
    word-wrap: break-word;
    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
    border: 1px solid black;
    padding: 1em;
}

.detailsTable td:first-child {
    width: 1em;
}

.detailsTable td:last-child {
    text-align: left;
    width: 100%;
}

.achievementTable {
    border-collapse: collapse;
    padding: 1em 1em;
    table-layout: fixed;
    width: 80%;
    margin: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.achievementTable td {
    word-wrap: break-word;
    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
    border: 1px solid black;
    padding: 0.25em 1em;
}

.achievementTable td:nth-child(5) {
    text-align: left;
    width: 100%;
}

.achievementTable td.completed {
    background-image: linear-gradient(to right, #3183c5, #2a5bb6);
}

.achievementTable th {
    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
    border: 1px solid black;
    padding: 0.5em 0.5em;
}

.achievementTable h2 {
    padding: 0.5em 1em;
    width: 40%;
    margin: 0 auto;
}


.iconImg {
    width: 64px;
    height: 64px;
}

.noticeH2 {
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
}

.userSyncDiv {

}

.userSyncDiv input {
    flex-grow: 1;
    height: 2em;
    border-radius: 0.25em;

    padding: 0.25em 1em;

    margin: 1em 1em;

    border: 1px solid black;

    font-size: 16px;
    text-align: center;
}

.settingsWarning {
    background-image: linear-gradient(to right, rgba(95, 95, 95, 0.5), rgba(73, 73, 73, 0.5));
    padding: 1em 1em;
}

.settingsWarning a:link {

}

.settingsWarning a:visited {
    color: inherit;
}

.settingsWarning a:hover {
    color: #1b7fd2;
}