
.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: var(--default-padding);

    width: 100%;
}

/* Back Button */
.backButton {
    display: inline-block;

    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 1em;
}

/* Title Div */
.titleContainer {
    display: flex;
    align-items: center;

    margin: 0 auto;

    width: 80%;

    background-image: var(--gradient2);
    border-radius: var(--default-radius);
}

.titleContainer img {
    border-radius: var(--default-radius);
}

.titleText {
    flex: 1;
    padding: 1em 4em;
}

/* Swap Buttons */
.swapButtons {
    padding: 1em 1em;
}

.swapButtons button {
    color: var(--color-white1);
    margin: 0 1em;
    width: 20em;
    background-image: var(--gradient1);
}

.swapButtons button:disabled {
    background-image: var(--gradient4);
}

/* Details Table */
.detailsTable {
    border-collapse: collapse;
    padding: 0 1em;
    table-layout: fixed;
    width: 80%;
    margin: auto;
}

.detailsTable td {
    word-wrap: break-word;
    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
    border: var(--border-default);
    padding: 1em;
}

.detailsTable td:first-child {
    width: 1em;
}

.detailsTable td:last-child {
    text-align: left;
    width: 100%;
}

/* Achievement Table */
.achievementTable {
    justify-content: center;
    align-items: center;
    text-align: center;

    border-collapse: collapse;
    table-layout: fixed;

    padding: 1em 1em;
    margin: auto;

    width: 80%;
}

.achievementTable td {
    word-wrap: break-word;

    padding: 0.25em 1em;

    background-image: linear-gradient(to bottom, #2e2f31, #363c45);
    border: var(--border-default);
}

.achievementTable td:nth-child(5) {
    text-align: left;
    width: 100%;
}

.achievementTable td.completed {
    background-image: var(--gradient4);
}

.achievementTable th {
    background-image: var(--gradient1);
    border: var(--border-default);

    padding: 0.5em 0.5em;
}

.achievementTable h2 {
    padding: 0.5em 1em;
    margin: 0 auto;

    width: 40%;
}

.iconImg {
    width: 64px;
    height: 64px;
}

.noticeH2 {
    border: var(--border-default);
    background-image: var(--gradient1);
}

.userSyncDiv input {
    flex-grow: 1;
    text-align: center;

    padding: 0.25em 1em;
    margin: 1em 1em;

    font-size: var(--font-size-normal);
    width: 30%;
    height: 2em;

    border-radius: var(--default-radius);
    border: var(--border-default);
}

/* Warnings */
.settingsWarning {
    background-image: var(--gradient2);
    padding: 1em 1em;
}

.settingsWarning a:visited {
    color: inherit;
}

.settingsWarning a:hover {
    color: var(--color-active);
}

/* Add Glowing Border to Achievement Table when all complete */
.allAchievements {
    border: 2px solid transparent;
    text-align: center;
    animation: glow 4s ease-in-out infinite;
}

/* Glow Frames */
@keyframes glow {

    0% {
        border-color: var(--color-gold1);
        box-shadow: 0 0 1em var(--color-gold1);
    }
    50% {
        border-color: var(--color-gold2);
        box-shadow: 0 0 2em var(--color-gold2);
    }
    100% {
        border-color: var(--color-gold1);
        box-shadow: 0 0 1em var(--color-gold1);
    }
}