

/* Search Page Div */
.searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: var(--default-padding);
    margin:0.25rem;

    width: 100%;
    min-width: 20%;
}

/* Search Input Div */
.searchInput {
    display: flex;
    align-items: center;

    margin: 0 auto;

    width: 80%;
    max-width: 60em;
    max-height: 8em;

    background-image: var(--gradient1);
    border-radius: var(--default-radius);
    border: var(--border-default);
}

.searchInput img {
    width: auto;
    height: 100%;

    border-radius: var(--default-radius);
}

.searchInput input {
    flex-grow: 1;
    box-sizing: border-box;
    text-align: center;

    padding: 0, var(--default-padding);
    margin: 1em 1em;

    font-size: var(--font-size-tile);

    width: auto;
    height: auto;
    min-height: 2em;

    border-radius: var(--default-radius);
    border: var(--border-default);
}

.searchButtons button {
    margin: 0 1em;
    width: 10em;
}

/* Search Results Div */
.searchResultsContainer {
    justify-content: center;
    align-items: center;

    width: 100%;

    border-radius: var(--default-radius);
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px,100%), 1fr));
    grid-gap: 1em;

    box-sizing: border-box;
    text-align: center;

    margin: 0 auto;
    padding: 1em 1em;

    width: 80%;
}

.searchResults button {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0 auto;

    background-color: transparent;
    background-image: var(--gradient2);

    width: 100%;
    max-width: 320px;
    height: auto;

    border-radius: var(--default-radius);
    border: var(--border-default);
}


.searchResults button:hover {
    border: var(--border-active);
}

.searchResults button:hover > * {
    color: var(--color-active)
}

.searchResults h3, .searchResults h4 {
    padding: 0 1em;

    max-width: 100%;
    max-height: 2.4em;
    height: 2.4em;

    /* Hide More Than 2 Rows */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.searchImg {
    display: block;
    object-fit: contain;

    padding: 0;

    height: auto;
    width: 100%;

    border-radius: var(--default-radius);
}

