



/* Search Page Div */
.searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background-color: RED;*/

    margin:0.25rem;
    border-width: 0.25em;
    text-align: center;
    border-radius: 0.25em;
    width: 80%;
    min-width: 20%;
}

/* Search Input Div */
.searchInput {
    width: 100%;
    padding: 1em 1em;
}

.searchInput input {
    flex-grow: 1;
    height: 2em;
    border-radius: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 1em;

    width: 60%;

    border: 2px solid black;

    font-size: 1.5rem;
    text-align: center;
}

/* Search Results Div */
.searchResultsContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searchResults {
    width: 100%;
    box-sizing: border-box;

    /*background-color: BLUE;*/

    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1em;
    justify-content: center;
    padding: 1em 1em;


    text-align: center;

}

.searchResults button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    border-radius: 5px;
    padding: 0.75em 1em;

    background-image: linear-gradient(to right, #3b9fef, #2562d1);
    color: #c3e1f8;


    border: 2px solid black;
    margin: 0 auto;

    height: 10em;
    width: 100%;


}
.searchResults button:hover {
    background-image: linear-gradient(to right, #3b9fef, #417be8);
    cursor: pointer;
}
