:root {
    /* Dark Mode Colors */
    --text-color: white;

    --page-color1: #2e3043;
    --page-color2: #3f466a;
    --page-color3: #5d5f6f;
    --page-color4: #15161b;

    /* Dave Colors */
    --color-1: #2a475e;
    --color-2: #282d32;
    --color-3: #1b2838;


}
body {
    text-align: center;
    background-image: linear-gradient(to bottom, #2a475e, #1b2838);

    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


/* Nav Bar */
.navbar {
    width: 100%;
    background-color: #1f222b;
    overflow: auto;
}
.navbar a:link {
    float: left;
    padding: 0.7em;
    text-decoration: none;
    font-size: 1em;
}
.navbar a:hover {
    background-color: var(--page-color3);
    color: var(--page-color2);
}
.navbar a:visited {
    color: inherit;
}

.navbar_main{
    background-color: var(--page-color1);
}

/* Root */
.root {
    display: flex;
    justify-content: center;
}

.appDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}





